body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav

.nav-title{
      color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
}

.primary-button{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    padding: 15px 35px;
}

.primary-color{
    color: #FD6E0A;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav > ul > li{
    list-style: none;
    margin-right: 50px;
    
}